<h1>Listings</h1>

<div class="flex-container">
    <div class="flex-row">
        <div class="flex-col size" *ngFor="let item of items; let i = index">
            <!-- <div class="clearfix" *ngIf="i % 2 == 0"></div> -->
                
            <img [src]="'assets/' + item.photo" alt="cat" class="resize">

                    
            
        </div>
    </div>
</div>


<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-6 col-md-4"><img src="assets/photo.jpg" alt="cat" class="img-fluid"></div>
        <div class="col-6 col-md-4"><img src="assets/photo.jpg" alt="cat" class="img-fluid"></div>
        <div class="col-6 col-md-4"><img src="assets/photo.jpg" alt="cat" class="img-fluid"></div>
    </div>
</div> -->
